@use '../../../styles/mixins' as *;

.wrapperCreateParams{
    margin-bottom: 0rem;
    width: 100% !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);

    .hestiaInfoWrapper{
        max-width: var(--max-width);
        width: var(--page-wrapper);
        padding: var(--padding-wrap);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1{
            @include font-bold-8;
            color: var(--primary-color);
        }

        .wrapperInternForm{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            .itemParam{
                width: 100%;
                height: auto;
                padding: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border-radius: 16px;
                background-color: var(--quaternary-color);
                
                button{
                  width: 50%;
                  p{
                    color: var(--tertiary-color);
                  }
                }

                h3{
                    @include font-bold-6;
                    color: var(--tertiary-color);
                }
            }
        }
    }
}