@use '../../../styles/mixins' as *;

.wrapperCreateRoutine{
    width: 100% !important;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--tertiary-color);

    .titleRoutinesCreate{
        display: flex;
        align-items: end;
        justify-content: space-between;

        h2{
            @include font-medium-6;
            color: var(--primary-color);
            margin-bottom: 0rem;
        }

        .inputWrapperDropdown{
            display: flex;
            justify-content: end;
            width: 25% !important;
        }
    }

    .hestiaInfoWrapper{
        width: var(--page-wrapper);
        padding: var(--padding-wrap);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1{
            @include font-bold-8;
            color: var(--primary-color);
        }

        .wrapperInternForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .wrapperForm{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 12px;

            h2{
                width: 100%;
                @include font-medium-6;
                color: var(--primary-color);
                text-align: left;
            }

            .wrapperThreeInputs{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 8px;
            }
            .buttonsDiv{
                width: 25%;
                display: flex;
                gap: 16px;

                button{
                    font-weight: 400 !important;
                    font-size: 1.15rem !important;
                    line-height: 1rem !important;
                }
                
            }
        }
    }
    .createButton{
        width: 50%;
        margin: 0 auto;
        margin-top: 16px;

        display: flex;
        align-items: end;
        gap: 16px;
    }
    .selectOnePreset{
        @include font-medium-5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
    }
}