@use "../../styles/mixins" as *;

.button{
  @include font-medium-5;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 1s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.primary{
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  &:hover{
    background-color: var(--primary-hover-color);
  }
}
.secondary{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  &:hover{
    background-color: var(--secondary-hover-color);
  }
}
.tertiary{
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  &:hover{
    background-color: var(--tertiary-hover-color);
  }
}
.quaternary{
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  &:hover{
    background-color: var(--quaternary-hover-color);
  }  
}

.delete{
  background-color: var(--text-field-error-color);
  color: var(--tertiary-color);
  &:hover{
    background-color: var(--text-field-error-color-hover);
  }
}