@use "../../styles/mixins" as *;

.wrapperEachPerson{
  width: 100%;
  padding: 16px;
  border: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3{
    @include font-medium-4;
  }

  .preferencesSubtitle{
    @include font-medium-2;
  }

  .wrapperHeaderPerson{
    display: flex;
    justify-content: space-between;

    button{
      width: 15%;
      font-size: 1rem;
    }
    p{
      @include font-regular-3
    }
  }

  .incompleteDay{
    color: var(--text-field-error-color);
  }
  .incompleteMessage{
    p{
      @include font-regular-2;
      color: var(--text-field-error-color);
    }
  }
  

  .eachDayWrapper{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    .dayName{
      height: 100%;
      width: 180px;
      padding: 8px;
      background-color: var(--quaternary-color);

      display: flex;
      align-items: center;
      justify-content: space-between;
      h4{
        @include font-regular-4;
        text-align: center;
      }
      .internActionsButton{
        button{
          width: 1.5rem;
          height: 1.5rem;
          outline: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          cursor: pointer;
          background-color: var(--primary-color);
          transition: 1s;
          &:hover{
            transform: scale(1.05);
          }
        }
      }
    }
    .routineActions{
      height: 100%;
      width: 100%;
      padding: 8px;
      background-color: var(--secondary-color);
      display: flex;

      .activityBlock{
        display: flex !important;
        background-color: var(--primary-color);
        border: 1px solid var(--tertiary-color);
      }
    }
  }
}



.wrapperModalPreferences{
      z-index: 10 !important;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

    .formWrapperIntern{
        width: 65%;
        padding: 1rem;
        display: flex;
        position: relative;
        flex-direction: column;
        gap: .5rem;
        background-color: var(--quaternary-color);
        border-radius: .5rem;

      .closeModal{
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 10;
        button{
          background-color: transparent;
          border: none;
          font-size: 24px;
          color: var(--primary-color);
          cursor: pointer;
          img{
            width: 28px;
            height: 28px;
          }
        }
      }
        h3{
            @include font-bold-5;
            color: var(--secondary-color);
        }
        .addActuatorButton{
            @include font-regular-2;
            margin: 0 auto;
            padding: .5rem;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            background-color: var(--primary-color);
            color: var(--tertiary-color);
            cursor: pointer;
            transition: 1s;
            &:hover{
                background-color: var(--primary-hover-color);
            }
        }
        .wrapperEachActuatorSaved{
            background-color: var(--primary-color);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            h5{
                @include font-bold-4;
                color: var(--tertiary-color);
            }
            
            .internEachActuator{
                width: 100%;
                display: flex;
                gap: .25rem;
            }
        }
    }
}