@use '../../../styles/mixins' as *;

.wrapperViewPreset{
    margin-bottom: 0rem;
    width: 100% !important;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--tertiary-color);

    .noPresetsDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        h4, a{
            @include font-medium-5;
            width: 100%;
            text-align: center;
        }
        a{
            color: var(--primary-color)
        }
    }

    .hestiaInfoWrapper{
        max-width: var(--max-width);
        width: var(--page-wrapper);
        padding: var(--padding-wrap);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1{
            @include font-bold-8;
            color: var(--primary-color);
        }
        .gridWrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            margin-top: 16px;
        }
    }

    .pagination{
        width: 30%;
        margin: 0 auto;
        margin-top: 16px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        button{
            width: 100% !important;
            p{
                font-size: 1.25rem !important;
                line-height: 1rem !important;
            }
        }

        span {
            @include font-medium-6;
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}