@use "../../styles/mixins" as *;

.wrapperModal {
  background: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 10;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperActivityColors{
  margin: 16px 0 16px;
  padding: .75rem;
  background-color: var(--quaternary-color);

  h5{
    width: 100%;
    text-align: center;
    @include font-bold-5;
    color: var(--tertiary-color);
  }
}
.wrapperRoomsColor{
  margin: 16px 0 16px;
  padding: .75rem;
  background-color: var(--quaternary-color);
    h5{
    width: 100%;
    text-align: center;
    @include font-bold-5;
    color: var(--tertiary-color);
  }
}

.deleteActivities{
  @include font-regular-2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.deleteModal{
    z-index: 15;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute !important;
    background-color: var(--quaternary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
    height: auto;
    overflow-x: auto;
    gap: 8px;
    .wrapperDeleteButtons{
      width: 100%;
      display: flex;
      gap: 8px;
    }
    h5{
      @include font-bold-6;
      color: var(--secondary-color)
    }
    h6{
      @include font-regular-4;
      color: var(--secondary-color)
    }
}

.otherActivityWrapper{
  width: 100%;
  display: flex;
  gap: 16px
}

.closeModal{
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
  button{
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    img{
      width: 25px;
      height: 25px;
    }
  }
}

.wrapperProps{
  width: 100%;
  display: flex !important;
  align-items: center;
  gap: 16px;
}

  .wrapperEachActuatorSaved{
    width: 100%;
    gap: 16px;
    display: flex;
    padding: 8px;
    background-color: var(--primary-color);
  }

  .wrapperActuatorsActions{
    display: flex;
    gap: 1rem;

    .removeActuators{
  background-color: var(--text-field-error-color);
  color: var(--tertiary-color);
  transition: 1s;
  &:hover{
    background-color: var(--text-field-error-color-hover);
  }
    }
  }


.inputWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  label {
    @include font-regular-4;

    width: 100%;
    text-indent: 0.5rem;
    transition: 0.75s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


  .internColors{
    color: var(--secondary-color);
  }
  .notInternColors{
    color: var(--tertiary-color);
  }

  .checkBox{
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid var(--secondary-color);
    border-radius: 6px;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    &:checked {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      &::after {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        margin: auto;
        border-radius: 3px;
        background: var(--white-color);
      }
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px var(--secondary-color);
    }
  }

  .field {
    @include font-regular-3;

    padding: 0.5rem;
    width: 100%;
    height: 48px;
    box-sizing: border-box;

    border: 2px solid var(--secondary-color) !important;
    border-radius: 9px;
    background-color: var(--tertiary-color);

    color: var(--text-field-color) !important;
    
    outline: none;
    box-shadow: none !important;
    transition: 0.75s;

    ::placeholder {
      color: var(--text-field-color);
    }

    ::-moz-placeholder {
      color: var(--text-field-color);
      opacity: 0.5;
    }

    :focus {
      background-color: var(--white-color);
      outline: none;
    }
  }
}
/*REMEMBER TO DO SCROLL IN ACTIVITY MODAL!*/
.wrapperAddActuators{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  padding-top: .5rem;

  button{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: none;
    background-color: var(--quintenary-color);
    color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    padding: .5rem;
  }
}

.errorValue{
  @include font-regular-3;
  padding-top: .5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeline {
  width: 85%;
  min-width: 1150px;
  max-width: 1920px;
  max-height: 80vh;

  padding: 20px 20px 20px 20px;
  overflow-y: auto;

  background: var(--quintenary-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fixedHeader {
  position: sticky;
  top: 0;
  z-index: 10;

  background: var(--quintenary-color);
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.scrollContainer {
  overflow-x: auto;
}

.hours {
  display: flex;
  width: calc(48 * 50px); // ou 2400px
  background: var(--secondary-color);
  color: var(--tertiary-color);
}

.events {
  width: calc(48 * 50px); // mesma largura que .hours
  position: relative;
  background: var(--secondary-color);
  margin-top: 10px;
}


.hour {
  width: 100%;
  text-align: center;
  border-right: 1px solid var(--primary-color);
  flex-shrink: 0;
}

.eventBox {
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: move;
  users-select: none;
  p{
    min-width: 30px;
    @include font-regular-3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}

.resizeHandle {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  cursor: ew-resize;
}

.arrayButtons{
  width: 45%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;

  button{
    font-size: 1.25rem !important;
  }
}

.firstActivity{
  width: 50%;
  margin: 0 auto;
}
.titleRoutine{
  @include font-regular-5;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.activityForm{
  z-index: 12;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute !important;
  background-color: var(--tertiary-color);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: auto;
  max-height: 80vh;
  overflow-x: auto;
  gap: 8px;
  .wrapperInputs{
    width: 100%;
  }
  h4{
    @include font-bold-6;
    color: var(--secondary-color)
  }
}
.addActivityButton{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
