@use '../../styles/mixins' as *;

.wrapperFinalFile{
    margin-bottom: 0rem;
    padding-bottom: 5rem;
    width: 100% !important;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: var(--tertiary-color);

    .wrapperButtonFiles{
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .generateData{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: var(--primary-color);
        p{
            @include font-regular-3;
            color: var(--tertiary-color);
        }
        label{
            color: var(--tertiary-color);
        }
        .wrapperInternFields{
            width: 100%;
            display: flex;
            gap: 1rem;
        }
    }

    .errorNoGraph{
        @include font-regular-4;
        text-align: center;
        color: var(--primary-color);
    }

    .hestiaInfoWrapper{
        width: var(--page-wrapper);
        padding: var(--padding-wrap);
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        h1{
            @include font-bold-8;
            color: var(--primary-color);
        }

        .wrapperInternForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }

        .wrapperForm{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 12px;

            h2{
                width: 100%;
                @include font-medium-6;
                color: var(--primary-color);
                text-align: left;
            }

            .wrapperThreeInputs{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 8px;
            }
            .buttonsDiv{
                width: 25%;
                display: flex;
                gap: 16px;

                button{
                    font-weight: 400 !important;
                    font-size: 1.15rem !important;
                    line-height: 1rem !important;
                }
                
            }
        }
    }
    .createButton{
        width: 30%;
        margin-top: 16px;
    }
}


.formPreferencesWrapper{
    width: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    .formWrapperIntern{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        background-color: var(--quaternary-color);
        border-radius: .5rem;

        h3{
            @include font-bold-5;
            color: var(--secondary-color);
        }
        .addActuatorButton{
            @include font-regular-2;
            margin: 0 auto;
            padding: .5rem;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            border: none;
            background-color: var(--primary-color);
            color: var(--tertiary-color);
            cursor: pointer;
            transition: 1s;
            &:hover{
                background-color: var(--primary-hover-color);
            }
        }
        .wrapperEachActuatorSaved{
            background-color: var(--primary-color);
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;

            h5{
                @include font-bold-4;
                color: var(--tertiary-color);
            }
            
            .internEachActuator{
                width: 100%;
                display: flex;
                gap: .25rem;
            }
        }
    }

    .textPreferences{
        @include font-regular-2;
        text-align: center;
    }
    .savePersonGenerate{
        @include font-regular-3;
        color: var(--text-field-error-color)
    }

}