@use "../../../styles/mixins" as *;

.wrapperDashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);

    .hestiaInfoWrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 20%;
    }

    .titleWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        h1{
            @include font-bold-12;
            background: var(--title-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p{
            @include font-medium-6;
            color: var(--tertiary-color);
        }
    }

    .buttonWrapper{
        display: flex;
        gap: 16px;
    }

    .houseIconWrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        display: flex;
        align-items: end;
        justify-content: center;

        img{
            width: 20%;
        }
        
    }

}